body {
  background-image: url("/img/franz_fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  padding: 50px;
  border-radius: 10px;
}

.titulo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  animation: opacidadAnimacion 3s alternate infinite;
}

@keyframes opacidadAnimacion {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.image {
  transform: scale(0.8);
  align-content: center;
}

.header {
  padding: 60px;
  text-align: center;
  background-image: url("../img/always ascending.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 30px;
    text-align: center;
    background-image: url("../img/always ascending icono.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.headerDiv {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.navBar {
  display: flex;
  justify-content: center;
  background-color: rgb(232, 135, 32);
}
.navBar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navBar ahover {
  background-color: black;
}

@media screen and (max-width: 600px) {
  .navBar {
    flex-direction: column;
  }
}
.item {
  border-radius: 12px;
  background-color: gray;
  border: 1px solid black;
  text-align: center;
}
.item p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-size-adjust: auto;
}

.disco {
  border-radius: 20px;
  background-color: rgb(232, 135, 32);
  border: 1px solid black;
}
.disco .subtitulo {
  text-align: center;
}
.disco ul {
  max-height: 300px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
}
.disco li {
  padding: 3px;
  border-bottom: 1px solid black;
}
.disco li:hover {
  background-color: black;
}
@media screen and (max-width: 600px) {
  .disco ul {
    max-height: fit-content;
  }
}

.video {
  width: 460px;
  height: 315px;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .video .video {
    width: fit-content;
    height: fit-content;
    margin: auto;
  }
}

.gridPadre {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  column-gap: 35px;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .gridPadre {
    grid-template-columns: max-content;
    padding: 5px;
  }
}

.contenedor {
  display: flex;
}
.contenedor .miAside {
  flex: 30%;
  background-color: rgba(128, 128, 128, 0.777);
  padding: 40px;
  text-align: center;
}
.contenedor .miSection {
  flex: 70%;
  background-color: rgba(0, 0, 0, 0.707);
  color: white;
  padding: 40px;
}
.contenedor .miParrafo {
  flex: 50%;
  text-align: justify;
}
.contenedor .imagen {
  flex: 30%;
}
@media screen and (max-width: 700px) {
  .contenedor {
    flex-direction: column;
  }
}

.imagenTour {
  width: 300px;
  height: 200px;
}

body {
  margin: 0;
  padding: 0;
}

footer {
  background-color: black;
  color: white;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.social-icons {
  margin-bottom: 15px;
}

.social-icon {
  font-size: 24px;
  margin-right: 15px;
  color: white;
  text-decoration: none;
}

.social-icon:hover {
  color: #007bff;
}

/*# sourceMappingURL=style.css.map */
